/*Credits*/

:root {
 --Color1: #F2F2F2; /*Text, white*/
 --Color2: #1D1E40; /*BG, dark purple*/
 --Color3: #423F8C; /*Medium purple*/
 --Color4: #D0CFDE; /*Accents, really light purple*/
 --Color5: #7371B1; /*Light purple*/
}


/* ___'s den Header */


h1 {
 font-size: 35px;
 text-align: center !important;
  color: var(--Color1) !important;
}
	
h1::after { content: '༻⋆.°☽'; color: var(--Color4); }
h1::before { content: '☾°.⋆༺'; color: var(--Color4); }

h3 {
color: var(--Color1) !important;
font-size: 18px;}
 
/* BACKGROUND*/

@media screen and (min-width: 601px) { 
body {
background: url('https://i.postimg.cc/tTpt443s/lioden-wardrobe-(1)-(29).png') center center fixed;
background-size: cover;
color: var(--Color1); } }

@media screen and (max-width: 600px){
body {
background: url('https://i.postimg.cc/tTpt443s/lioden-wardrobe-(1)-(29).png') center center fixed;
background-size: cover;
color: var(--Color1); } }


/* MAIN PANEL - The panel in front of your background image. Usually a solid color on Lioden.*/

.container.main {
background-color: transparent !important;
background-image: linear-gradient(180deg, #1D1E4060, #1D1E4000);
transition: none !important;
animation: none !important;
border: 2px;
box-shadow: none;
border-radius: 5px; }
.col-md-9 {
background: none; } 


/* LION AND USER AVATAR OPACITY */
   
div#lion_image {
opacity: 1.0;
border: 10px solid var(--Color4);
border-radius: 50%;
overflow: hidden; }   
table#player img {
opacity: 1.0;
border-radius: 10%; } 

/* CUSTOM KING TITLES
Codes made by Pandora #144118  
Codes may be edited, used in commissions or for personal use
Please do not remove credit */
/* CUSTOM KING TITLE - AFTER */

#about > tbody > tr:nth-child(1) > td > div::after {
    content:'★˚.⋆';
    font-size:17px;
}

/* CUSTOM KING TITLE - BEFORE */
 
#about > tbody > tr:nth-child(1) > td > div::before {
    content:'⋆.˚★';
    font-size:17px;
}

/* TOPBAR, NAVBAR, & BREADCRUMB */
 
.topbar {
background: var(--Color3) !important;
color: var(--Color1) !important;
border: none !important;
border-radius: 0px !important;  }
 
.navbar {
background: var(--Color2) !important;
color: var(--Color1) !important;
border: none !important;
border-radius: 0px !important;
font-size: 40px;
text-align: center !important;
}

.navbar li a:hover {
background: var(--Color2) !important;
color: var(--Color1) !important;
}

/* This is mobile collapable navbar color changes.
toggle is the button that opens the navbar
*/

.navbar-toggle {
border: none !important;
background: var(--Color4) !important;
}


/* Bookmark Bar - aka breadcrumb, this is where your link path is shown */

/* Code from https://css-tip.com/rainbow-gradient-animation/ */
.breadcrumb{
  background: repeating-linear-gradient(90deg in hsl longer hue, red 0 50%) 0/200%;
  animation: r 10s linear infinite;
color: var(--Color1) !important;
border: none !important;
border-radius: 10px !important;} 
.breadcrumb .active {
color: var(--Color1); }

@keyframes r {
  to {background-position: 100%}
}
	
.breadcrumb::after{ content: ' ݁ ˖ ‧₊˚ ⋅.⋆.˚ ☾⭒.  ݁₊˖ ⋅ '; 
color: var(--Color1);
position:absolute;
right:20%;
z-index:100;}
	
/* table body*/

.table {
    background: var(--Color2);
    border: 1px;
    color: var(--Color1);
}

.top, .bottom, th {
background: var(--Color3) !important;
color: var(--Color1) !important;
border: none !important;
border-radius: 0px !important; }

#about .top, 
#about th { 
background: repeating-linear-gradient(90deg in hsl longer hue, red 0 50%) 0/200% !important;
animation: r 10s linear infinite;
color: var(--Color1)!important;}

@keyframes r {
  to {background-position: 100%}
} 

/* table.left will be used by the sections on the left of the edit your details panel once open
.inner-table .left is used by the table that displays the names of the sections of
info about your den, like your territory, your king's stats, etc. 
.inner-table .right is used by the boxes next to the king's info, that displays the actual info. */
 
.table .left {
background: var(--Color3);
border-radius: 0px !important; }

.inner-table .left {
background: var(--Color4) !important;
border-radius: 0px !important;
color: var(--Color5) !important;
}

.inner-table .right {
background: var(--Color5) !important;
border-radius: 0px !important; 
color: var(--Color4) !important; } 

/* FAPA, KING DYNASTY, ETC. */
 
.feature {
background: var(--Color3) !important;
color: var(--Color1) !important;
border: none !important;
border-radius: 0px !important;  }

div.left {
background: var(--Color3) !important;
color: var(--Color1) !important;
border: none !important;
border-radius: 10px !important; }

.xsmall {
font-size: 14px !important; }

/* Side panel */

.panel {
background: var(--Color2) !important;
color: var(--Color1) !important;
border: none !important;
border-radius: 10px !important;
box-shadow: none !important;  }

/* Progress bars */

/* background container */
.progress {
    background: var(--Color3);
    color: var(--Color1);
    border-radius: 10px;
    border: 1px;
}
.progress div {
color: var(--Color1) !important; }

.progress-bar {
background: repeating-linear-gradient(90deg in hsl longer hue, red 0 50%) 0/200%;
animation: r 10s linear infinite;
border-radius: 10px !important; }

@keyframes r {
  to {background-position: 100%}
}

/* Text box and button*/

input, select, button.button,
a.btn.btn-default.button {
background: var(--Color2) !important;
border: none !important;
border-radius: 0px !important;
color: var(--Color1) !important;
text-shadow: none !important; }

textarea {
background: var(--Color5) !important;
border: none !important;
border-radius: 0px !important;
color: var(--Color1) !important;
text-shadow: none !important; }

/*Sparring box right side*/
#sparring td:has(select) {
  background-color: var(--Color3)!important;
} 

/* CAVE NAMES - changes the color of of where cave names are displayed */
 
.cave-grid,
.mound-grid {
background: var(--Color4) !important;
color: var(--Color5) !important;
border: none !important;
border-radius: 0px !important; }
	
/* LINKS */
 
a:link,
a:visited {
color: var(--Color1)!important;
background: none !important; }

a:hover {
color: var(--Color5) !important; }

.inner-table .right a:link,
.inner-table .right a:visited {
 Color: var(--Color4)!important;
 background: none !important; }

.inner-table .right a:hover {
color: var(--Color2) !important; }

/*COMMENT BOX 
This is a complicated one. please read carefully
div#CommentBox is the color of the ENTIRE BOX, without comments in it. it is also the container
.comment is the COMMENTS THEMSELVES
If you want the flippy floppy colors, where one is a little darker than the other, DO NOT FILL IN ANYTHING FOR
.comment ONLY FILL IN div#commentBox

.input.bad is the icon to delete comments. you will be the only one to see this
.input.bad a is the color of the x inside of it
*/

div#commentBox {
background: #7371B180 !important;
border: 2px solid var(--Color1) !important;
border-radius: 10px !important;
color: var(--Color3) !important;}
	
.comment {     
background: #D0CFDE80 !important;
border: none !important;
border-bottom: 2px solid #F2F2F280; !important;
font-weight: bold; 
color: var(--Color3) !important;}
.text-muted { 
color: var(--Color3) !important; }

input.bad {
background: var(--Color4) !important;
color: var(--Color3) !important;}
input.bad a {
color: var(--Color3) !important; }

table#player.table hr {
display: none !important; }
table#player.table div.xlarge { 
margin-top: 10px !important; }

#makeComment {
background: var(--Color3) !important;
border: 2px solid var(--Color3);
border-radius: 10px;
}

input#postComment {
background: var(--Color4) !important;
color: var(--Color2);
}

/* CHAT */

button#label_currentChannel {
border: none !important;
background: var(--Color4) !important; }

div#chatMessageContainer, #chatMessagelist { 
border: none !important;
}

.s-chat-message_timestamp {
color: var(--Color1) !important; }

.s-chat-sidebar #fraChatChannelMenu,
button.channelSwitcher, button.channelSwitcher.active {
background: var(--Color4) !important;
color: var(--Color3) !important;	
border: none !important;
border-radius: 0px !important;
box-shadow: none !important; }

div.emoteList.active {
  background: var(--Color3) !important;
  border: 1px solid var(--Color1) !important;
  box-shadow: none !important;
}
div.emoteList.active::before {
background: var(--Color2);
border-top: none !important;
border: 1px solid var(--Color3) !important; }
	
/* PINNED MESSAGES - This will change the background color of where staff pin news */

.s-chat-message__pinned {
background-color: var(--Color3) !important;
color: var(--Color1) !important;
border: none !important; }

/* Odd will show at the TOP of chat, even will show every other message under it. If you want both colors the same, do
not touch the even/odd specifications */ 

.s-chat-message:nth-child(even) {
background: #1D1E40BF !important;
border: none !important; }
.s-chat-message:nth-child(odd) {
background: #423F8CBF!important;
border: none !important; }

/* This changes the color of pinged messages. Yes, it has to say background-color
no it doesn't work if you just do background.
may 8th: stop touchy */
	
#chatMessageList[data-pings="enabled"] .s-chat-message_mention {
background-color: var(--Color5) !important;
border-left: 6px solid var(--Color3) !important;
color: var(--Color2) !important; }

/* This is the character counter, that displays X/150 */

div#lblCharacterCounter {
color: var(--Color5) !important; }

/* I can't remember what this does but I know things get weird if you touch it
that means do NOT touch it.
i'm being so fr stop touching this */
html.nolayout {
background: none !important; }

